*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans";
    background-color: #eeeeee;
}
.page{
    width: 1000px;
    margin-left: 25%;
    margin-top: 40px;
}
.top{
    padding: 30px;
    background-color: white;
    height: 20%;
}
.head a{
    color: black;
    text-decoration: none;
}
.topright{
    float: right;
    margin-top: -50px;
}
.topright a{
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
.txtright{
    float: right;
    margin-top: -30px;
}
.txtright a{
    color: black;
    text-decoration: none;
}
.txtleft{
    margin-top: 30px;
}
.txtleft a{
    margin-right: 20px;
    color: black;
    text-decoration: none;
}
.left{
    float: left;
    width: 60%;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: white;
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 60px;
}
.left h2{
    line-height: 2;
    padding-bottom: 20px;
}
.left a{
    color: red;
}
.left p{
    padding-bottom: 20px;
}
img{
    max-width: 100%;
    padding-bottom: 20px;
}
.right1{
    float: right;
    background-color: #333333;
    color: #fafafa;
    display: block;
    width: 30%;
    height: 310px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 30px 30px 40px;
}
.right1 p{
    font-size: 12px;
    line-height: 1.25;
    padding: 10px 0;
}
.right1 div{
    display: block;
    width: 95%;
    height: 50px;
    background-color: #fafafa;
    margin: 10px 0;
    color: #d0d0d0;
}
.right1 div p{
    padding-top: 15px;
    padding-left: 5px;
    font-size: 15px;
}
.right1 .sub{
    background-color: red;
    color: #fafafa;
    text-align: center;
}
.right2{
    float: right;
    background-color: white;
    display: block;
    width: 30%;
    height: 170px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 30px 30px 40px;
}
.right3{
    float: right;
    background-color: white;
    display: block;
    width: 30%;
    height: 120px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 30px 30px 40px;
}
.right3 div{
    display: block;
    width: 95%;
    height: 50px;
    background-color: #fafafa;
    margin: 10px 0;
    color: #d0d0d0;
    border: 1px solid;
}
.right3 div p{
    padding-top: 15px;
    padding-left: 5px;
    font-size: 15px;
}
