body{
    background-color: #fafafa;
    width: 800px;
    background-image: url("../imgs/Barbara-Palvin-Contact-Information.jpg");
    background-repeat: no-repeat;
    background-size: 140px;
}
h4{
    color: #67283D;
    font-style: italic;
    line-height: 0.25;
    text-decoration: underline;
}
p.right{
    text-align: right;
}
p.line{
    color:#67283D;
}
p{
    line-height: 0.25;
}